<mat-sidenav-container class="sidenav">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
    (closed)="events.push('close!')">
    <mat-nav-list>
      <a mat-list-item routerLink="/login"><span>Usuários Ativos</span></a>
      <a mat-list-item routerLink="/login"><span>Usuários Desativados</span></a>
      <a mat-list-item routerLink="/tipos"><span>Tipos Ativos</span></a>
      <a mat-list-item routerLink="/tipos"><span>Tipos Desativados</span></a>
      <a mat-list-item routerLink="/contatos"><span>Contatos</span></a>
    </mat-nav-list>
  </mat-sidenav>


  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
