<mat-toolbar class="toolbar">
  <a mat-button routerLink="/usuarios" routerLinkActive="active"><span>Usuarios ativos</span></a>
  <a mat-button routerLink="/usuarios-inativos" routerLinkActive="active"><span>Usuarios inativos</span></a>
  <a mat-button routerLink="/tipos" routerLinkActive="active"><span>Tipos ativos</span></a>
  <a mat-button routerLink="/tipos-inativos" routerLinkActive="active"><span>Tipos inativos</span></a>
  <a mat-button routerLink="/contatos" routerLinkActive="active"><span>Contatos ativos</span></a>
  <a mat-button routerLink="/contatos-inativos" routerLinkActive="active"><span>Contatos inativos</span></a>
  <button mat-flat-button (click)="logout()" class="red-button">Sair</button>
</mat-toolbar>
