.toolbar {
  background-color: #e0e4fc;

  a.active {
    background-color: #3f51b5;
    /* Cor de fundo quando ativo */
    color: white;
    /* Cor do texto quando ativo */
  }

  a {
    transition: background-color 0.3s, color 0.3s;
  }
}
