<mat-toolbar class="toolbar">
  <a mat-button routerLink="/usuarios" routerLinkActive="active"><span>Usuarios ativos</span></a>
  <a mat-button routerLink="/usuarios-inativos" routerLinkActive="active"><span>Usuarios inativos</span></a>
  <a mat-button routerLink="/usuarios" routerLinkActive="active"><span>Tipos ativos</span></a>
  <a mat-button routerLink="/usuarios" routerLinkActive="active"><span>Tipos inativos</span></a>
  <button mat-flat-button (click)="logout()">Sair</button>
</mat-toolbar>
