.container-table {
  margin-top: 0.5rem;
  position: relative;

  .loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 56px;
    background-color: rgba($color: #000000, $alpha: 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .mat-column-id, .mat-column-estado, .mat-column-sigla, .mat-column-ddd {
      max-width: 64px;
    }
  }

}
